html {
    box-sizing: border-box;
    background: linear-gradient(to bottom, #80ffdb, #72efdd, #72efdd, #56cfe1, #48bfe3, #4ea8de, #5e60ce, #6930c3, #7400b8 );
    min-height: 100%;
    font-size: 62.5%;
  }
  
  *, *:after, *:before {
    box-sizing: inherit;
  }

.container-experience {
    align-items: center;
    background-color: white;
    border-radius: 10px 10px;
    color: black;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
    opacity: 70%;
    padding:20px 20px 20px 20px;
    text-align: center;
    max-width: 95rem;
    min-width: 20rem;
}

.title-experience {
    display: block;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: center;
}

.title-experience::after,.title-experience::before {
    background-color: currentColor;
    content: '';
    height: 3px;
    position: absolute;
    top: 1.3em;
    width: 20vw;
}
    
.title-experience::before {
    left: 55vw;
}

.title-experience::after {
    right: 55vw;
}

.description {
    color: rgb(82, 80, 80);
}